<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="URL" value="https://anupdamoda.github.io/AceOnlineShoePortal/"/>
		<add key ="Salutation" value="Mr."/>
		<add key ="FirstName" value="AliOsman"/>
		<add key ="LastName" value="Meydanci"/>
		<add key ="InvalidEmailAdress" value="S"/>
		<add key ="ValidEmailAdress" value="almey@hotmail.com"/>
		<add key ="UserName" value="almey"/>
		<add key ="Password" value="121212"/>
	
	</appSettings>
</configuration>